@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  background-color: rgb(220, 209, 209);
  color: rgb(26, 24, 24);
}

.loader {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  /* animation: mulShdSpin 1.1s infinite ease; */
  transform: translateZ(0);
}

.loaderWrapper {
  display: flex;
  justify-content: center;
}

.invisible {
  display: none;
}

.cat-info {
  margin-top: 30px;
  display: flex;
  gap: 40px;
  max-width: 100%;
}

.cat-info-desc {
  line-height: 150%;
}

.wrapper {
  padding: 30px;
}